---
import FormHeading from "../components/form-heading.astro";
import Form from "../components/form.astro";
---
<section>
  <FormHeading />
  <Form />
</section>

<style>
  section {
    padding-top: 5rem;
  }
</style>